.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.records-number {
    padding-left: 20px;
    display: flex;
    align-items: center;
    & p {
        margin-right: 10px;
    }
    & select {
        height: 30px;
    width: 50px;
    border-radius: 25px;
    }
}

.pages-counter {
    display: flex;
    align-items: center;
    padding-right: 20px;
    & p {
        margin: 10px;
    }
    & button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2699fb;
    color: #fff;
    font-size: 19px;
    padding: 0;
    height: 30px;
    width: 43px;
    border-radius: 25px;
    position: relative;
    transition: ease-in .3s;
    &:hover {
        opacity: .6;
    }
    & svg {
        position: absolute;
        top: 5px;
        right: 12px;
    }
    }
}