@import '../../variables.scss';

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.records-number {
    padding-left: 20px;
    display: flex;
    align-items: center;
    & p {
        margin-right: 10px;
    }
    & select {
        height: 30px;
        width: 56px;
        border-radius: 25px;
        transition: ease-in .3s; 
        cursor: pointer;
        color: $font-color;
        padding-left: 8px;
        &:hover {
            border: 1px solid $primary-color;
        }
    }
}

.pages-counter {
    display: flex;
    align-items: center;
    padding-right: 20px;
    & p {
        margin: 10px;
    }
    & button {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: $primary-color;
        color: #fff;
        font-size: 19px;
        padding: 0;
        height: 30px;
        width: 43px;
        border-radius: 25px;
        position: relative;
        transition: ease-in .3s;
        &:hover {
            opacity: .6;
        }
        & svg {
            position: absolute;
            top: 5px;
            right: 12px;
        }
    }
}

@media (max-width: 499px) {
    .footer-container {
        flex-direction: column-reverse;

        .records-number {
            padding-left: 0;
        }
        .pages-counter {
            padding-right: 0;
        }
    }
}